*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    text-transform: uppercase;
}
.heading{
    display: flex;
    flex-direction: row;
    width: 50%;
    text-align: center;
    margin-left: 20px;
}
.naming{
    /* border: 2px solid black; */
    width: 50%;
}
.heading p{
    border: 1px solid black;
    padding: 5px;
}
table{
    position: relative;
    top: 30px;
    width: 80%;
    margin: auto;
    text-align: center;
}
td{
    padding: 5px;
}
